body{
  background-image: url("../images/bkgsearch.svg");
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Libri Autori Generi Case-Editrici";
  margin-top: 150px;
}

.card{
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  display: none;
}

.cardicon{
  font-size: 50px;
  margin-top: 50px;
}

.card h3{
  font-size: 17px;
  margin: 10px 0;
  font-family: 'Righteous', cursive;
}

.Libri {
  grid-area: Libri;
  background-color: #0894A1;
  box-shadow: 5px 5px 1px 0px #055B63;
}

.Autori {
  grid-area: Autori;
  background-color: #47AB6C;
  box-shadow: 5px 5px 1px 0px #2E6E45;
}

.Generi {
  grid-area: Generi;
  background-color: #F2B134;
  box-shadow: 5px 5px 1px 0px #916A1F;
}

.Case-Editrici {
  grid-area: Case-Editrici;
  background-color: #ED553B;
  box-shadow: 5px 5px 1px 0px #993726;
}


h1{
  font-family: 'Righteous', cursive;
  text-align: center;
  margin: 0 auto;
  font-size: 100px;
  margin-top: 150px;
  text-shadow: 5px 5px #bbb;
  color: #555;
}

a{
  text-decoration: none;
}
